*{
    margin: 0;
    padding: 0;
}

:root{
    --banana-yellow: #ffe135;
}


header{
    background-color:  var(--banana-yellow);
    text-align: center;
    line-height: 15vh;
    height: 15vh;
}

.main-container{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    height: 70vh;
    width: 60vw;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

span{
    font-size: large;
}

textarea{
    height: 15vh;
    width: 96%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
}

#btn{
    background-color: var(--banana-yellow);
    color: black;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    margin: 1rem auto;
    border: 0.1rem solid black;
}

#btn:hover{
   transform: scale(1.2,1.2);
   transition: all 100ms;
}

#output{
    height: 15vh;
    width: auto;
    margin: 2rem 0;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
}

footer{
    background-color: var(--banana-yellow);
    margin: auto;
    text-align: center;

    height: 15vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}